# ============================================
# Variables d'environnement - Backend NestJS
# Copie ce fichier en .env et remplis les valeurs
# ============================================

# MongoDB Atlas
MONGODB_URI=mongodb+srv://VOTRE_UTILISATEUR:VOTRE_MOT_DE_PASSE@cluster.mongodb.net/solutionEmbarquee?retryWrites=true&w=majority

# JWT
JWT_SECRET=votre_secret_jwt_long_et_aleatoire

# Service IA
IA_SERVICE_URL=http://localhost:8000

# Port serveur
PORT=3001

# ============================================
# Emails - Nodemailer + Gmail
# ============================================
EMAIL_ENABLED=true
EMAIL_SENDER=votre.email@gmail.com
EMAIL_SENDER_PASSWORD=votre_mot_de_passe_application_google
EMAIL_RECIPIENTS=destinataire1@gmail.com,destinataire2@gmail.com
EMAIL_SENDER_NAME=Solution Embarquee IoT