# ============================================
# Variables d'environnement - Backend NestJS
# Copie ce fichier en .env et remplis les valeurs
# ============================================

# MongoDB Atlas
MONGODB_URI=mongodb+srv://VOTRE_UTILISATEUR:VOTRE_MOT_DE_PASSE@cluster.mongodb.net/solutionEmbarquee?retryWrites=true&w=majority

# JWT
JWT_SECRET=votre_secret_jwt_long_et_aleatoire

# Service IA
IA_SERVICE_URL=http://localhost:8000

# Port serveur
PORT=3001