# URL du backend NestJS (sans slash final)
# Développement : http://localhost:3001/api
# Production    : https://ton-domaine-universite.tn/api
REACT_APP_API_URL=http://localhost:3001/api

# URL du serveur Socket.IO (sans /api)
# Développement : http://localhost:3001
# Production    : https://ton-domaine-universite.tn
REACT_APP_SOCKET_URL=http://localhost:3001
